@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
body{
    font-family: "Poppins", sans-serif;
    
}
#LG{
    max-width: 100px;
    margin-left: 20px;
    padding: 5px;
}
#navs{
    padding: 5px;
   
    
}
.nav-item{
    /* border-bottom: 1px solid; */
    margin-bottom: 20px;
    position: relative sticky;
    padding: 5px;
    border-radius: 10px;
}
.nav-item:hover{
    border-bottom: 2px solid;
}
#User{
    transform: translate(-200px);
    
}
#Names{

    margin-left: 1400px;
    margin-top: 5px;
    font-weight: bold;
    padding: 10px;
}