#sign{
    width: 180px;
    height: 40px;
    transition: 1s ease;
    background-color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: black;
    cursor: pointer;
    border-radius: 10px;
    transform: translateX(-150px);
}
#des{
    
    transform: translateX(-90px);
    display: inline-block;
    text-align: center;
   
}
form{
  
    margin-top: 0px;

    transform: translateY(20px);
}
#lg{
 
    width: 200px;
    transform: translate(205px,-70px);
    margin-bottom: 0px;
 
}
#Reg{
    background-color: whitesmoke;
    width: 150px;
    padding: 10px;
    color:black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    border-radius: 10px;
    outline: none;
    transition: 1s ease;
}
#Reg:hover{
    box-shadow: 0px 0px 20px rgba(245, 245, 245, 0.911);
}

#sign:hover{
    background-color: rgb(26, 228, 26);
    color: whitesmoke;
    box-shadow: 0px 0px 20px hsla(120, 100%, 52%, 0.849);
    /* width: 195px; */
    /* transform: rotate(1deg); */
}
#password,#email{
    width: 350px;
    background-color: rgba(82, 81, 81, 0.719);
    transition: width 2s ease;
    border: none;
    outline: none;
}
#password:hover,#email:hover{
    width: 370px;
    text-decoration: none;
   
    box-shadow: 0px 0px 20px rgba(65, 63, 63, 0.877);
}
#fgp{
   
    display: inline-block;
    margin-bottom: 4px;
    transform: translate(-150px,0px);
    color:whitesmoke;
    text-decoration: none;
   
}
#fgp:hover{
    border-bottom: 1px solid whitesmoke;

}
#lnk{
    margin-top: 20px;
    padding: 5px;
}
